In [19]:
import pandas as pd
import xlrd
import os

def read_excel_file_azul_credit(file_path):
    # Open the workbook
    wb = xlrd.open_workbook(file_path)
    ws = wb.sheet_by_index(0)

    # Define the titles to search for
    target_titles = [
        "JOAO MARCUS TEIXEIRA PEGO - final 5037 (titular)",
        "JOAO MARCUS TEIXEIRA PEGO - final 0897 (adicional)",
        "encargos e serviços"
    ]

    data_frames = {}

    # Check each row for potential titles
    for i in range(ws.nrows):
        row = ws.row(i)
        if row[0].ctype == xlrd.XL_CELL_TEXT and row[0].value.strip():  # Check if cell contains text
            title = row[0].value.strip()
            if title in target_titles:
                data = []

                # Assume table starts 2 rows below title
                table_start = i + 2

                # Read data until an empty row or specific condition
                for j in range(table_start, ws.nrows):
                    data_row = ws.row(j)
                    if data_row[0].value == xlrd.empty_cell.value:  # Check for empty cell indicating end of table
                        break
                    data.append([cell.value for cell in data_row])
                
                # Create DataFrame and use the first row of data as headers
                df = pd.DataFrame(data[1:], columns=data[0])  # Skip the first row for data and use it as column headers
                df['origem'] = "azul"
                data_frames[title] = df  # Store the DataFrame with its title

    return data_frames

#Function Latam
def read_excel_file_latam_credit(file_path):
    # Open the workbook
    wb = xlrd.open_workbook(file_path)
    ws = wb.sheet_by_index(0)

    # Define the titles to search for
    target_titles = [
        "JOAO PEGO - final 0853 (titular)",
        "JOAO PEGO - final 0937 (adicional)",
        "encargos e serviços"
    ]

    data_frames = {}

    # Check each row for potential titles
    for i in range(ws.nrows):
        row = ws.row(i)
        if row[0].ctype == xlrd.XL_CELL_TEXT and row[0].value.strip():  # Check if cell contains text
            title = row[0].value.strip()
            if title in target_titles:
                data = []

                # Assume table starts 2 rows below title
                table_start = i + 2

                # Read data until an empty row or specific condition
                for j in range(table_start, ws.nrows):
                    data_row = ws.row(j)
                    if data_row[0].value == xlrd.empty_cell.value:  # Check for empty cell indicating end of table
                        break
                    data.append([cell.value for cell in data_row])
                
                # Create DataFrame and use the first row of data as headers
                df = pd.DataFrame(data[1:], columns=data[0])  # Skip the first row for data and use it as column headers
                df['origem'] = "latam"
                data_frames[title] = df  # Store the DataFrame with its title

    return data_frames

#Function Pao
def read_excel_file_pao_credit(file_path):
    # Open the workbook
    wb = xlrd.open_workbook(file_path)
    ws = wb.sheet_by_index(0)

    # Define the titles to search for
    target_titles = [
        "JOAO MARCUS TEIXEIRA PEGO - final 2182 (titular)",
        "JOAO MARCUS TEIXEIRA PEGO - final 9434 (adicional)",
        "encargos e serviços"
    ]

    data_frames = {}

    # Check each row for potential titles
    for i in range(ws.nrows):
        row = ws.row(i)
        if row[0].ctype == xlrd.XL_CELL_TEXT and row[0].value.strip():  # Check if cell contains text
            title = row[0].value.strip()
            if title in target_titles:
                data = []

                # Assume table starts 2 rows below title
                table_start = i + 2

                # Read data until an empty row or specific condition
                for j in range(table_start, ws.nrows):
                    data_row = ws.row(j)
                    if data_row[0].value == xlrd.empty_cell.value:  # Check for empty cell indicating end of table
                        break
                    data.append([cell.value for cell in data_row])
                
                # Create DataFrame and use the first row of data as headers
                df = pd.DataFrame(data[1:], columns=data[0])  # Skip the first row for data and use it as column headers
                df['origem'] = "pao"
                data_frames[title] = df  # Store the DataFrame with its title

    return data_frames

#Function Uniclass
def read_excel_file_uniclass_credit(file_path):
    # Open the workbook
    wb = xlrd.open_workbook(file_path)
    ws = wb.sheet_by_index(0)

    # Define the titles to search for
    target_titles = [
        "JOAO MARCUS TEIXEIRA PEGO - final 9731 (titular)",
        "encargos e serviços"
    ]

    data_frames = {}

    # Check each row for potential titles
    for i in range(ws.nrows):
        row = ws.row(i)
        if row[0].ctype == xlrd.XL_CELL_TEXT and row[0].value.strip():  # Check if cell contains text
            title = row[0].value.strip()
            if title in target_titles:
                data = []

                # Assume table starts 2 rows below title
                table_start = i + 2

                # Read data until an empty row or specific condition
                for j in range(table_start, ws.nrows):
                    data_row = ws.row(j)
                    if data_row[0].value == xlrd.empty_cell.value:  # Check for empty cell indicating end of table
                        break
                    data.append([cell.value for cell in data_row])
                
                # Create DataFrame and use the first row of data as headers
                df = pd.DataFrame(data[1:], columns=data[0])  # Skip the first row for data and use it as column headers
                df['origem'] = "uniclass"
                data_frames[title] = df  # Store the DataFrame with its title

    return data_frames

#Function Nubank
def read_excel_file_nubank_credit(file_path):
    data_frame = pd.read_csv(file_path, sep=',', encoding='utf-8', header=0, skiprows=0, skipfooter=0, engine='python')
    data_frame.rename(columns={'date': 'data', 'title': 'lançamento', 'amount': 'valor'}, inplace=True)
    data_frame.drop(columns=['category'], inplace=True)
    data_frame = data_frame[data_frame['lançamento'] != 'Pagamento recebido']
    data_frame['origem'] = "nubank"
    return data_frame

def combine_data_frames(data_frames):
    # Filter out empty DataFrames
    non_empty_data_frames = [df for df in data_frames.values() if not df.empty]
    
    # Combine the non-empty DataFrames
    combined_df = pd.concat(non_empty_data_frames, ignore_index=True) if non_empty_data_frames else pd.DataFrame()
    return combined_df

def read_excel_file(file_path):
    card_type = os.path.basename(file_path).split('-')[0].lower()
    if card_type == 'azul':
        return read_excel_file_azul_credit(file_path)
    elif card_type == 'latam':
        return read_excel_file_latam_credit(file_path)
    elif card_type == 'pao':
        return read_excel_file_pao_credit(file_path)
    elif card_type == 'uniclass':
        return read_excel_file_uniclass_credit(file_path)
    elif card_type == 'nubank':
        return {'nubank': read_excel_file_nubank_credit(file_path)}
    else:
        raise ValueError("Unknown card type found in file name.")

def process_files_credit(file_paths):
    all_data_frames = {}
    for file_path in file_paths:
        data_frames = read_excel_file(file_path)
        all_data_frames.update(data_frames)
    return combine_data_frames(all_data_frames)

def parse_dates(date_str):
    for fmt in ("%d/%m/%Y", "%Y-%m-%d"):  # Add more formats here if needed
        try:
            return pd.to_datetime(date_str, format=fmt)
        except ValueError:
            continue
    raise ValueError("no valid date format found")

In [20]:

# Usage
file_paths = [
    'data/creditcards/azul-2024-04.xls',
    'data/creditcards/latam-2024-04.xls',
    'data/creditcards/pao-2024-04.xls',
    'data/creditcards/uniclass-2024-04.xls',
    'data/creditcards/nubank-2024-04.csv'
]
combined_df_credit = process_files_credit(file_paths)
combined_df_credit.drop(columns=[''], inplace=True)
combined_df_credit['tipo'] = 'credito'
combined_df_credit['data'] = combined_df_credit['data'].apply(parse_dates)
combined_df_credit

,data,lançamento,valor,origem,tipo
0,2024-03-20,Pag*novelaria,88.49,azul,credito
1,2024-03-20,Amazonprimebr,14.90,azul,credito
2,2024-03-20,Zelo Net,978.60,azul,credito
3,2024-03-20,Bazar *horizonte,42.60,azul,credito
4,2024-03-21,Pag*blacktag,414.00,azul,credito
5,2024-03-21,Shpp Brasil Servicos D,182.28,azul,credito
6,2024-03-23,Ifd*helenne Bistro Com,133.10,azul,credito
7,2024-03-24,Azul We*bpp9220040272,378.00,azul,credito
8,2024-03-24,Azul Linhas Aereas Bra,333.00,azul,credito
9,2024-02-28,Anuidade Diferenci02/12,59.00,azul,credito
10,2024-03-13,Sup Maxi Tubalina,482.86,azul,credito
11,2024-03-16,Lojas G -ct,63.97,azul,credito
12,2024-03-16,Sushiloko -ct,121.00,azul,credito
13,2024-03-17,Sesi Uberlan-ct Virgil,40.00,azul,credito
14,2024-03-18,D Ville Supe-ct Cados,43.11,azul,credito
15,2024-03-18,D Ville Supe-ct Cados,87.87,azul,credito
16,2024-03-28,Exata Vet Fa-ct Ia,127.00,azul,credito
17,2024-03-28,Carrefour Ubl 21,500.00,azul,credito
18,2024-03-29,Estorno De Anuidade Dif,-58.70,azul,credito
19,2024-03-24,Airbnb * Hm3cwbzx3t,2416.78,latam,credito
20,2024-03-22,Sup Maxi Tubalina,864.06,latam,credito
21,2024-03-26,Aparecida Ch-ct Ates L,74.55,latam,credito
22,2024-03-26,Sup Maxi Tub-ct A,65.91,latam,credito
23,2024-03-28,Center Chave-ct Gital,20.00,latam,credito
24,2024-03-28,Berlinf*ac C-ct R Shop,213.55,latam,credito
25,2024-03-28,Carrefour Ubl 21,287.32,latam,credito
26,2024-03-28,Cafeeiro Lan-ct,63.00,latam,credito
27,2024-03-20,Apple.com/bill,11.90,pao,credito
28,2024-01-31,Telhanorte - Uberl02/02,397.40,pao,credito
29,2024-02-02,Fisia Nike Ecommer,-0.01,pao,credito
30,2024-02-02,Fisia Nike Ecommer02/02,330.00,pao,credito
31,2024-02-21,Anuidade Diferenci04/12,54.16,pao,credito
32,2024-03-01,App *lojaartcura 9,-265.70,pao,credito
33,2024-03-03,Ifd*yunes Comercio De A,246.59,uniclass,credito
34,2024-03-03,Ifd*yunes Comercio De A,-18.80,uniclass,credito
35,2024-03-04,Bio Tech Und-ct,149.99,uniclass,credito
36,2024-03-05,Ifd*uai Ceva Distribuid,110.44,uniclass,credito
37,2024-03-05,Ifood *ifd*drogaria,125.86,uniclass,credito
38,2024-03-08,Uber *uber *trip,14.92,uniclass,credito
39,2024-03-08,Ifd*hp Com De Alimentos,213.45,uniclass,credito
40,2024-03-09,Ifd*hela Comercio De Al,142.80,uniclass,credito
41,2024-03-13,Uber *uber *trip,9.90,uniclass,credito
42,2024-03-13,Uber *uber *trip,9.91,uniclass,credito
43,2024-03-15,Uber *uber *trip,16.00,uniclass,credito
44,2024-03-15,Uber *uber *trip,16.86,uniclass,credito
45,2024-03-16,Ifd*dtl Ltda,73.49,uniclass,credito
46,2024-03-17,Ifd*talhareto Cozinha I,79.89,uniclass,credito
47,2024-03-19,Uber *uber *trip,15.91,uniclass,credito
48,2024-03-19,Uber *uber *trip,15.23,uniclass,credito
49,2024-03-21,Ifd*william Gutemberg D,75.99,uniclass,credito
50,2024-03-22,Uber *uber *trip,9.99,uniclass,credito
51,2024-03-22,Uber *uber *trip,12.58,uniclass,credito
52,2024-03-22,Uber *uber *trip,11.76,uniclass,credito
53,2024-03-24,Ifd*arcos Dourados Come,107.29,uniclass,credito
54,2024-03-26,Uber *uber *trip,7.94,uniclass,credito
55,2024-03-28,Uber *uber *trip,9.98,uniclass,credito
56,2024-03-28,Ifd*adriana Goncalves D,38.97,uniclass,credito
57,2024-03-31,Ifd*talhareto Cozinha I,202.69,uniclass,credito
58,2024-03-31,Ifd*am/pm Comestiveis L,68.14,uniclass,credito
59,2024-04-01,Uber *uber *trip,11.91,uniclass,credito
60,2024-04-01,Uber *uber *trip,13.21,uniclass,credito
61,2024-03-29,Conta Vivo,493.86,nubank,credito
62,2024-03-27,Bretas,19.92,nubank,credito
63,2024-03-26,D Ville Supermercados,73.66,nubank,credito
64,2024-03-25,Mercadolivre*Paulocez,91.64,nubank,credito
65,2024-03-25,Rewards - Assinatura,19.00,nubank,credito
66,2024-03-24,Orelo *Orelobr*Doaca,13.00,nubank,credito
67,2024-03-23,Ebn*Spotify,27.90,nubank,credito
68,2024-03-23,Ppro *Microsoft,45.00,nubank,credito
69,2024-03-23,Mp *Hbomaxassin,24.43,nubank,credito
70,2024-03-22,Ifd*Esquina do Espetin,118.99,nubank,credito
71,2024-03-22,Pag*Distribuidorado,18.00,nubank,credito
72,2024-03-21,Netflix.Com,55.90,nubank,credito
73,2024-03-21,Amazon Marketplace,139.90,nubank,credito
74,2024-03-21,Produtos Globo,59.90,nubank,credito
75,2024-03-20,Google Microsoft,9.00,nubank,credito
76,2024-03-20,Bretas,43.60,nubank,credito
77,2024-03-19,Ifd*Arcos Dourados Com,67.69,nubank,credito
78,2024-03-19,"Estorno de ""Ifd*Bauhaus Burguer Ei""",-48.00,nubank,credito
79,2024-03-19,Ifd*Bauhaus Burguer Ei,151.79,nubank,credito
80,2024-03-18,Ifd*Ricardo Araujo Cos,55.99,nubank,credito
81,2024-03-17,Ifd*Gr Alves Costa Pan,88.70,nubank,credito
82,2024-03-17,Ebn*Adobe,95.00,nubank,credito
83,2024-03-16,Pag*Distribuidorado,18.00,nubank,credito
84,2024-03-16,Google Storage,119.90,nubank,credito
85,2024-03-13,Openai,51.81,nubank,credito
86,2024-03-13,Bazar *Horizonte,416.19,nubank,credito
87,2024-03-13,Mercadolivre*Beco14,57.91,nubank,credito
88,2024-03-13,Mp *Mercadopagoin,13.93,nubank,credito
89,2024-03-13,Mp *Nvainternetcomerc,164.40,nubank,credito
90,2024-03-13,"IOF de ""Openai""",2.27,nubank,credito
91,2024-03-13,Dl *Sheincom,104.60,nubank,credito
92,2024-03-11,Ifd*Burger Club,76.80,nubank,credito
93,2024-03-11,Google Storage,7.99,nubank,credito
94,2024-03-10,Doces Barbaros,359.00,nubank,credito
95,2024-03-10,Ifd*Diego Cosmo de Oli,76.00,nubank,credito
96,2024-03-10,Google Youtube Member,39.99,nubank,credito
97,2024-03-10,Sup Maxi Tubalina,593.55,nubank,credito
98,2024-03-08,Mp *Melimais,17.99,nubank,credito
99,2024-03-07,Microsoft*Subscription,49.99,nubank,credito
100,2024-03-07,Mercadolivre*Capellib,101.32,nubank,credito
101,2024-03-07,Ifd*Ifood,13.90,nubank,credito
102,2024-03-07,Mercadolivre*4produto,333.11,nubank,credito
103,2024-03-07,Ifd*51.931.299 Carolin,62.58,nubank,credito
104,2024-03-05,Estorno de juros de rotativo,-19.55,nubank,credito
105,2024-03-02,Lojas G 3/3,416.16,nubank,credito
106,2024-03-02,Pag*Aafiltrolar 3/3,383.33,nubank,credito
107,2024-03-02,Magalu *Magazineluiza 3/6,288.49,nubank,credito
108,2024-03-02,Localiza Rac Acudi0 2/3,1354.76,nubank,credito
109,2024-03-02,Lojas G 3/3,398.12,nubank,credito
110,2024-03-02,Magalu Fl 3/6,356.20,nubank,credito

In [21]:
# Usage
file_paths = [
    'data/creditcards/azul-2024-05.xls',
    'data/creditcards/latam-2024-05.xls',
    'data/creditcards/pao-2024-05.xls',
    'data/creditcards/uniclass-2024-05.xls'
]
combined_df_credit = process_files(file_paths)
combined_df_credit.drop(columns=[''], inplace=True)
combined_df_credit['tipo'] = 'credito'
combined_df_credit['data'] = combined_df_credit['data'].apply(parse_dates)
combined_df_credit

         data               lançamento    valor    origem     tipo
0  2024-04-12                 Localiza  1397.82      azul  credito
1  2024-04-13   Ifd*helenne Bistro Com    85.50      azul  credito
2  2024-04-20            Amazonprimebr    19.90      azul  credito
3  2024-03-30  Anuidade Diferenci03/12    59.00      azul  credito
4  2024-04-11      Pagto Conta Titulos   736.30      azul  credito
5  2024-04-11  Pag*firenzze-ct H 01/03   460.00      azul  credito
6  2024-04-11   Juros Pagamento Contas    24.49      azul  credito
7  2024-04-12               Uber* Trip    15.01      azul  credito
8  2024-04-12                   A Obra   409.60      azul  credito
9  2024-04-28  Estorno De Anuidade Dif   -29.50      azul  credito
10 2024-03-31   Ifd*helenne Bistro Com   194.00     latam  credito
11 2024-03-29        Kizashi Sush-ct R   508.50     latam  credito
12 2024-03-30   Itabira Serv-ct  De Ho   473.00     latam  credito
13 2024-03-31          Posto Salmos-ct    50.00     latam  credito
14 2024-04-02          Groomerphill-ct   110.00     latam  credito
15 2024-04-03   Kalunga Cent-ct Hoppin    81.60     latam  credito
16 2024-03-24       Azul We*ljgqmjpego   877.90       pao  credito
17 2024-03-25             Pag*joaorock  1203.60       pao  credito
18 2024-03-30    Ifd*yunes Comercio De   259.94       pao  credito
19 2024-03-31           Apple.com/bill    19.90       pao  credito
20 2024-03-24  Anuidade Diferenci05/12    54.16       pao  credito
21 2024-03-25    D Ville Supe-ct Cados    65.56       pao  credito
22 2024-04-05  Estorno Anuidade Difere   -54.16       pao  credito
23 2024-04-06  Ifd*miller Moura Martin    79.00  uniclass  credito
24 2024-04-09  Ifd*t  C Comercio De Ch    48.98  uniclass  credito
25 2024-04-09     Uber   *uber   *trip     7.96  uniclass  credito
26 2024-04-09     Uber   *uber   *trip    11.40  uniclass  credito
27 2024-04-11    Ifood  *ifd*carrefour   222.67  uniclass  credito
28 2024-04-12     Uber   *uber   *trip    12.93  uniclass  credito
29 2024-04-13  Ifd*restaurante Havaian    82.69  uniclass  credito
30 2024-04-15  Ifd*dina Restaurante Lt   120.95  uniclass  credito
31 2024-04-18  Ifd*carlos Guilherme An    63.80  uniclass  credito
32 2024-04-18  Ifd*pumpkin Saudavel Co    87.80  uniclass  credito
33 2024-04-19  Ifd*vinicius Silva Agui   108.99  uniclass  credito
34 2024-04-20  Ifd*helenne Bistro Come    93.50  uniclass  credito
35 2024-04-23    Ifd*nativo Sucos Ltda    64.87  uniclass  credito

In [22]:
combined_df_credit.valor.sum()

8027.66

In [23]:
#Function Itau Statement
def read_excel_file_itau_statement(file_path):
    # Open the workbook
    wb = xlrd.open_workbook(file_path)
    ws = wb.sheet_by_index(0)

    # Define the titles to search for
    target_titles = [
        "Lançamentos"
    ]

    data_frames = {}

    # Check each row for potential titles
    for i in range(ws.nrows):
        row = ws.row(i)
        if row[0].ctype == xlrd.XL_CELL_TEXT and row[0].value.strip():  # Check if cell contains text
            title = row[0].value.strip()
            if title in target_titles:
                data = []

                # Assume table starts 2 rows below title
                table_start = i + 2

                # Read data until an empty row or specific condition
                for j in range(table_start, ws.nrows):
                    data_row = ws.row(j)
                    if data_row[0].value == xlrd.empty_cell.value:  # Check for empty cell indicating end of table
                        break
                    data.append([cell.value for cell in data_row])
                
                # Create DataFrame and use the first row of data as headers
                df = pd.DataFrame(data[1:], columns=data[0])  # Skip the first row for data and use it as column headers
                df['origem'] = "itau"
                df.drop(columns=['ag./origem', 'saldos (R$)'], inplace=True)
                df.rename(columns={'valor (R$)': 'valor'}, inplace=True)
                df = df[df['valor'] != '']
                df = df[df['valor'] < 0]
                data_frames[title] = df  # Store the DataFrame with its title
                combined_df_itau_statement = combine_data_frames(data_frames)


    return combined_df_itau_statement

#Function Santander Statement
def read_excel_file_santander_statement(file_path):
    # Open the workbook
    wb = xlrd.open_workbook(file_path)
    ws = wb.sheet_by_index(0)

    # Define the titles to search for
    target_titles = [
        "Tipo de Lancamento: Todos"
    ]

    data_frames = {}

    # Check each row for potential titles
    for i in range(ws.nrows):
        row = ws.row(i)
        if row[0].ctype == xlrd.XL_CELL_TEXT and row[0].value.strip():  # Check if cell contains text
            title = row[0].value.strip()
            if title in target_titles:
                data = []

                # Assume table starts 2 rows below title
                table_start = i + 1

                # Read data until an empty row or specific condition
                for j in range(table_start, ws.nrows):
                    data_row = ws.row(j)
                    if data_row[0].value == xlrd.empty_cell.value:  # Check for empty cell indicating end of table
                        break
                    data.append([cell.value for cell in data_row])
                
                # Create DataFrame and use the first row of data as headers
                df = pd.DataFrame(data[1:], columns=data[0])  # Skip the first row for data and use it as column headers
                df['origem'] = "santander"
                df.drop(columns=['Docto ', 'Situação ', 'Crédito (R$) ', 'Saldo (R$) '], inplace=True)
                df.rename(columns={'Data ':'data', 'Descrição ':'lançamento', 'Débito (R$) ':'valor',}, inplace=True)
                df = df[df['valor'] != '']
                df = df[df['lançamento'] != 'SALDO ANTERIOR ']
                df = df[df['data'] != 'TOTAL ']
                data_frames[title] = df  # Store the DataFrame with its title
                combined_df_santander_statement = combine_data_frames(data_frames)

    return combined_df_santander_statement

#Function Bradesco Statement
def read_excel_file_bradesco_statement(file_path):
    data_frame = pd.read_csv(file_path, sep=';', encoding='1252', header=0, skiprows=1, skipfooter=0, engine='python')
    data_frame.drop(columns=['Docto.','Crédito (R$)','Saldo (R$)','Unnamed: 6'], inplace=True)
    data_frame.rename(columns={'Data': 'data', 'Histórico': 'lançamento', 'Débito (R$)': 'valor'}, inplace=True)
    #data_frame = data_frame[data_frame['valor'] != '']
    data_frame['origem'] = "bradesco"
    # Check for the first occurrence of 'Os dados acima' and slice the DataFrame
    cut_off_index = data_frame[data_frame['data'].str.contains('Os dados acima', na=False)].index.min()
    if pd.notna(cut_off_index):
        data_frame = data_frame.loc[:cut_off_index - 2]
    # Find indices where 'data' column is NaN
    nan_indices = data_frame[data_frame['data'].isna()].index

    # Loop through the indices of NaN values in 'data'
    for idx in nan_indices:
        if idx > 0:  # Ensure there is a previous index
            # Concatenate 'lançamento' values at i-1 and i
            concatenated_value = data_frame.at[idx - 1, 'lançamento'] + ' ' + data_frame.at[idx, 'lançamento']
            # Store the concatenated value back at i-1
            data_frame.at[idx - 1, 'lançamento'] = concatenated_value

    # Remove rows where 'data' is NaN
    data_frame.dropna(subset=['data','valor'], inplace=True)
    return data_frame

#Function Nubank Statement
def read_excel_file_nubank_statement(file_path):
    data_frame = pd.read_csv(file_path, sep=',', encoding='utf-8', header=0, skiprows=0, skipfooter=0, engine='python')
    data_frame.rename(columns={'Data': 'data', 'Descrição': 'lançamento', 'Valor': 'valor'}, inplace=True)
    data_frame.drop(columns=['Identificador'], inplace=True)
    data_frame = data_frame[data_frame['valor'] < 0]
    data_frame['origem'] = "nubank"
    data_frame = data_frame[['data', 'lançamento', 'valor', 'origem']]
    return data_frame

def read_excel_file_statement(file_path):
    card_type = os.path.basename(file_path).split('-')[0].lower()
    if card_type == 'itau':
        return read_excel_file_itau_statement(file_path)
    elif card_type == 'santander':
        return read_excel_file_santander_statement(file_path)
    elif card_type == 'bradesco':
        return read_excel_file_bradesco_statement(file_path)
    elif card_type == 'nubank':
        return read_excel_file_nubank_statement(file_path)
    else:
        raise ValueError("Unknown card type found in file name.")

def process_files_statement(file_paths):
    all_data_frames = []
    for file_path in file_paths:
        data_frame = read_excel_file_statement(file_path)
        all_data_frames.append(data_frame)
    
    # Combine all the DataFrames into one
    if all_data_frames:  # Check if the list is not empty
        combined_df = pd.concat(all_data_frames, ignore_index=True)
    else:
        combined_df = pd.DataFrame()  # Return an empty DataFrame if no files were processed

    return combined_df

# Function to handle mixed separators in the 'valor' column
def correct_number_formatting(s):
    if ',' in s and s.count('.') > 1:  # Likely European format with '.' as thousand separator
        return s.replace('.', '').replace(',', '.')
    elif ',' in s and s.count('.') == 1:  # Single '.' before ',' is likely a thousand separator
        return s.replace('.', '').replace(',', '.')
    elif ',' in s and s.count('.') == 0:  # No '.' before ',' is likely a decimal separator
        return s.replace(',', '.')  # Replace ',' with '.' for decimal separator
    return s  # No need to change if only one '.' without ',' or proper format already

In [24]:
# Usage
file_paths = [
    'data/extratos/itau-04-2024.xls',
    'data/extratos/santander-04-2024.xls',
    'data/extratos/bradesco-04-2024.csv',
    'data/extratos/nubank-04-2024.csv'
]
combined_df_statements = process_files_statement(file_paths)
combined_df_statements['tipo'] = 'débito/pix'
combined_df_statements['valor'] = combined_df_statements['valor'].astype(str).apply(lambda x: correct_number_formatting(x)).astype(float)
combined_df_statements = combined_df_statements[combined_df_statements['valor'] < 0]
combined_df_statements = combined_df_statements[~combined_df_statements['lançamento'].str.contains('JOAO MA', na=False, case=False, regex=True)]
combined_df_statements = combined_df_statements[~combined_df_statements['lançamento'].str.contains('3034', na=False, case=False, regex=True)]
combined_df_statements['data'] = combined_df_statements['data'].str.replace('/24', '/2024').str.strip()
combined_df_statements['data'] = pd.to_datetime(combined_df_statements['data'], errors='coerce', dayfirst=True)
# Get the month from the first row
first_row_month = combined_df_statements['data'].dt.month.iloc[0]
# Filter the DataFrame to keep only rows where the month matches the first row's month
combined_df_statements = combined_df_statements[combined_df_statements['data'].dt.month == first_row_month]
combined_df_statements

,data,lançamento,valor,origem,tipo
0,2024-04-02,PIX TRANSF L A FER02/04,-700.00,itau,débito/pix
2,2024-04-02,TAR PACOTE ITAU MAR/24,-79.00,itau,débito/pix
3,2024-04-04,PIX QRS ITAU UNIBAN04/04,-2886.33,itau,débito/pix
4,2024-04-08,CARTAO TUDOAZUL MC,-4299.26,itau,débito/pix
5,2024-04-08,DA ALGAR TELECOM 02123,-164.78,itau,débito/pix
6,2024-04-08,ITAU MC PAO DE AC,-591.21,itau,débito/pix
7,2024-04-08,ITAU MC 4903-9245,-4005.17,itau,débito/pix
8,2024-04-10,PIX TRANSF PAULO H10/04,-750.00,itau,débito/pix
9,2024-04-10,ITAU VISA 0603-0154,-1792.89,itau,débito/pix
10,2024-04-12,PIX TRANSF FORCA T12/04,-180.00,itau,débito/pix
11,2024-04-12,PIX TRANSF VERA LU12/04,-650.00,itau,débito/pix
12,2024-04-12,PIX QRS CEMIG DISTR12/04,-314.24,itau,débito/pix
13,2024-04-15,PIX TRANSF ART DES14/04,-350.00,itau,débito/pix
14,2024-04-18,PIX TRANSF VICTOR 18/04,-520.00,itau,débito/pix
15,2024-04-18,PIX TRANSF NINA BA18/04,-520.00,itau,débito/pix
16,2024-04-19,PIX TRANSF MAYCON 19/04,-600.00,itau,débito/pix
17,2024-04-22,PIX TRANSF KAYC FL20/04,-127.00,itau,débito/pix
18,2024-04-22,PIX TRANSF PATRICI20/04,-370.00,itau,débito/pix
19,2024-04-22,PIX TRANSF KAYC FL20/04,-220.00,itau,débito/pix
20,2024-04-23,PIX TRANSF DANIELA23/04,-500.00,itau,débito/pix
21,2024-04-24,PIX TRANSF ETERNO 24/04,-45.00,itau,débito/pix
22,2024-04-24,PIX TRANSF PEDRO H24/04,-470.00,itau,débito/pix
26,2024-04-10,PAGAMENTO DE BOLETO OUTROS BANCOS IVAN NEGOCI...,-1941.59,santander,débito/pix
27,2024-04-10,PIX ENVIADO Patricia Ma...,-80.00,santander,débito/pix
28,2024-04-10,PIX ENVIADO Patricia Ma...,-640.00,santander,débito/pix
29,2024-04-04,Pix Qrcode Est Des: Cartão de Crédito 04/04,-989.09,bradesco,débito/pix
30,2024-04-04,Pix Qrcode Est Des: Mercadopago.com Repre 04/04,-94.71,bradesco,débito/pix
31,2024-04-09,Transfe Pix Des: Patricia Magnino Fran 09/04,-900.00,bradesco,débito/pix
32,2024-04-15,Transfe Pix Des: Patricia Magnino Fran 15/04,-100.00,bradesco,débito/pix
34,2024-04-03,Transferência enviada pelo Pix - Patrícia Magn...,-200.00,nubank,débito/pix
35,2024-04-04,Pagamento de fatura,-7523.62,nubank,débito/pix
37,2024-04-06,Transferência enviada pelo Pix - CONDOMINIO SA...,-40.00,nubank,débito/pix