<h1 style="color:#FF6666;text-align:center;border-bottom: 3px double #FF6666;">AI-powered Credit Card expenses categorization</h1>

In [80]:
import pandas as pd
import xlrd

In [81]:
def read_excel_file_azul_credit(file_path):
    # Open the workbook
    wb = xlrd.open_workbook(file_path)
    ws = wb.sheet_by_index(0)

    # Define the titles to search for
    target_titles = [
        "JOAO MARCUS TEIXEIRA PEGO - final 5037 (titular)",
        "JOAO MARCUS TEIXEIRA PEGO - final 0897 (adicional)",
        "encargos e serviços"
    ]

    data_frames = {}

    # Check each row for potential titles
    for i in range(ws.nrows):
        row = ws.row(i)
        if row[0].ctype == xlrd.XL_CELL_TEXT and row[0].value.strip():  # Check if cell contains text
            title = row[0].value.strip()
            if title in target_titles:
                data = []

                # Assume table starts 2 rows below title
                table_start = i + 2

                # Read data until an empty row or specific condition
                for j in range(table_start, ws.nrows):
                    data_row = ws.row(j)
                    if data_row[0].value == xlrd.empty_cell.value:  # Check for empty cell indicating end of table
                        break
                    data.append([cell.value for cell in data_row])
                
                # Create DataFrame and use the first row of data as headers
                df = pd.DataFrame(data[1:], columns=data[0])  # Skip the first row for data and use it as column headers
                df['origem'] = "azul"
                data_frames[title] = df  # Store the DataFrame with its title

    return data_frames

In [82]:
#Function Latam
def read_excel_file_latam_credit(file_path):
    # Open the workbook
    wb = xlrd.open_workbook(file_path)
    ws = wb.sheet_by_index(0)

    # Define the titles to search for
    target_titles = [
        "JOAO PEGO - final 0853 (titular)",
        "JOAO PEGO - final 0937 (adicional)",
        "encargos e serviços"
    ]

    data_frames = {}

    # Check each row for potential titles
    for i in range(ws.nrows):
        row = ws.row(i)
        if row[0].ctype == xlrd.XL_CELL_TEXT and row[0].value.strip():  # Check if cell contains text
            title = row[0].value.strip()
            if title in target_titles:
                data = []

                # Assume table starts 2 rows below title
                table_start = i + 2

                # Read data until an empty row or specific condition
                for j in range(table_start, ws.nrows):
                    data_row = ws.row(j)
                    if data_row[0].value == xlrd.empty_cell.value:  # Check for empty cell indicating end of table
                        break
                    data.append([cell.value for cell in data_row])
                
                # Create DataFrame and use the first row of data as headers
                df = pd.DataFrame(data[1:], columns=data[0])  # Skip the first row for data and use it as column headers
                df['origem'] = "latam"
                data_frames[title] = df  # Store the DataFrame with its title

    return data_frames

In [83]:
#Function Pao
def read_excel_file_pao_credit(file_path):
    # Open the workbook
    wb = xlrd.open_workbook(file_path)
    ws = wb.sheet_by_index(0)

    # Define the titles to search for
    target_titles = [
        "JOAO MARCUS TEIXEIRA PEGO - final 2182 (titular)",
        "JOAO MARCUS TEIXEIRA PEGO - final 9434 (adicional)",
        "encargos e serviços"
    ]

    data_frames = {}

    # Check each row for potential titles
    for i in range(ws.nrows):
        row = ws.row(i)
        if row[0].ctype == xlrd.XL_CELL_TEXT and row[0].value.strip():  # Check if cell contains text
            title = row[0].value.strip()
            if title in target_titles:
                data = []

                # Assume table starts 2 rows below title
                table_start = i + 2

                # Read data until an empty row or specific condition
                for j in range(table_start, ws.nrows):
                    data_row = ws.row(j)
                    if data_row[0].value == xlrd.empty_cell.value:  # Check for empty cell indicating end of table
                        break
                    data.append([cell.value for cell in data_row])
                
                # Create DataFrame and use the first row of data as headers
                df = pd.DataFrame(data[1:], columns=data[0])  # Skip the first row for data and use it as column headers
                df['origem'] = "pao"
                data_frames[title] = df  # Store the DataFrame with its title

    return data_frames

In [84]:
#Function Uniclass
def read_excel_file_uniclass_credit(file_path):
    # Open the workbook
    wb = xlrd.open_workbook(file_path)
    ws = wb.sheet_by_index(0)

    # Define the titles to search for
    target_titles = [
        "JOAO MARCUS TEIXEIRA PEGO - final 9731 (titular)",
        "encargos e serviços"
    ]

    data_frames = {}

    # Check each row for potential titles
    for i in range(ws.nrows):
        row = ws.row(i)
        if row[0].ctype == xlrd.XL_CELL_TEXT and row[0].value.strip():  # Check if cell contains text
            title = row[0].value.strip()
            if title in target_titles:
                data = []

                # Assume table starts 2 rows below title
                table_start = i + 2

                # Read data until an empty row or specific condition
                for j in range(table_start, ws.nrows):
                    data_row = ws.row(j)
                    if data_row[0].value == xlrd.empty_cell.value:  # Check for empty cell indicating end of table
                        break
                    data.append([cell.value for cell in data_row])
                
                # Create DataFrame and use the first row of data as headers
                df = pd.DataFrame(data[1:], columns=data[0])  # Skip the first row for data and use it as column headers
                df['origem'] = "uniclass"
                data_frames[title] = df  # Store the DataFrame with its title

    return data_frames

In [85]:
#Function Nubank
def read_excel_file_nubank_credit(file_path):
    data_frame = pd.read_csv(file_path, sep=',', encoding='utf-8', header=0, skiprows=0, skipfooter=0, engine='python')
    data_frame.rename(columns={'date': 'data', 'title': 'lançamento', 'amount': 'valor'}, inplace=True)
    data_frame.drop(columns=['category'], inplace=True)
    data_frame = data_frame[data_frame['lançamento'] != 'Pagamento recebido']
    data_frame['origem'] = "nubank"
    return data_frame

In [86]:
def combine_data_frames(data_frames):
    # Filter out empty DataFrames
    non_empty_data_frames = [df for df in data_frames.values() if not df.empty]
    
    # Combine the non-empty DataFrames
    combined_df = pd.concat(non_empty_data_frames, ignore_index=True) if non_empty_data_frames else pd.DataFrame()
    return combined_df

In [87]:
# Usage
file_path = 'data/creditcards/azul-2024-04.xls'
data_frames = read_excel_file_azul_credit(file_path)
combined_df_azul_credit = combine_data_frames(data_frames)

# Display DataFrames indexed by titles
for title, df in data_frames.items():
    print(f"Title: {title}")
    print(df)
    print("\n")

combined_df_azul_credit

Title: JOAO MARCUS TEIXEIRA PEGO - final 5037 (titular)
         data              lançamento     valor origem
0  20/03/2024           Pag*novelaria     88.49   azul
1  20/03/2024           Amazonprimebr     14.90   azul
2  20/03/2024                Zelo Net    978.60   azul
3  20/03/2024  Bazar       *horizonte     42.60   azul
4  21/03/2024            Pag*blacktag    414.00   azul
5  21/03/2024  Shpp Brasil Servicos D    182.28   azul
6  23/03/2024  Ifd*helenne Bistro Com    133.10   azul
7  24/03/2024   Azul We*bpp9220040272    378.00   azul
8  24/03/2024  Azul Linhas Aereas Bra    333.00   azul


Title: JOAO MARCUS TEIXEIRA PEGO - final 0897 (adicional)
         data               lançamento     valor origem
0  28/02/2024  Anuidade Diferenci02/12     59.00   azul
1  13/03/2024        Sup Maxi Tubalina    482.86   azul
2  16/03/2024          Lojas G     -ct     63.97   azul
3  16/03/2024          Sushiloko   -ct    121.00   azul
4  17/03/2024   Sesi Uberlan-ct Virgil     40.00   azul
5  18/03/2024    D Ville Supe-ct Cados     43.11   azul
6  18/03/2024    D Ville Supe-ct Cados     87.87   azul
7  28/03/2024       Exata Vet Fa-ct Ia    127.00   azul
8  28/03/2024         Carrefour Ubl 21    500.00   azul
9  29/03/2024  Estorno De Anuidade Dif    -58.70   azul


Title: encargos e serviços
         data              lançamento     valor origem
0  01/03/2024          Credito De Iof     -0.30   azul
1  29/03/2024  Juros De Financiamento    147.74   azul
2  29/03/2024        Multa Por Atraso     82.22   azul
3  29/03/2024           Juros De Mora      9.59   azul
4  29/03/2024      Encargos De Atraso     28.93   azul

          data               lançamento     valor origem
0   20/03/2024            Pag*novelaria     88.49   azul
1   20/03/2024            Amazonprimebr     14.90   azul
2   20/03/2024                 Zelo Net    978.60   azul
3   20/03/2024   Bazar       *horizonte     42.60   azul
4   21/03/2024             Pag*blacktag    414.00   azul
5   21/03/2024   Shpp Brasil Servicos D    182.28   azul
6   23/03/2024   Ifd*helenne Bistro Com    133.10   azul
7   24/03/2024    Azul We*bpp9220040272    378.00   azul
8   24/03/2024   Azul Linhas Aereas Bra    333.00   azul
9   28/02/2024  Anuidade Diferenci02/12     59.00   azul
10  13/03/2024        Sup Maxi Tubalina    482.86   azul
11  16/03/2024          Lojas G     -ct     63.97   azul
12  16/03/2024          Sushiloko   -ct    121.00   azul
13  17/03/2024   Sesi Uberlan-ct Virgil     40.00   azul
14  18/03/2024    D Ville Supe-ct Cados     43.11   azul
15  18/03/2024    D Ville Supe-ct Cados     87.87   azul
16  28/03/2024       Exata Vet Fa-ct Ia    127.00   azul
17  28/03/2024         Carrefour Ubl 21    500.00   azul
18  29/03/2024  Estorno De Anuidade Dif    -58.70   azul
19  01/03/2024           Credito De Iof     -0.30   azul
20  29/03/2024   Juros De Financiamento    147.74   azul
21  29/03/2024         Multa Por Atraso     82.22   azul
22  29/03/2024            Juros De Mora      9.59   azul
23  29/03/2024       Encargos De Atraso     28.93   azul

In [88]:
# Usage
file_path = 'data/creditcards/latam-2024-04.xls'
data_frames = read_excel_file_latam_credit(file_path)
combined_df_latam_credit = combine_data_frames(data_frames)

# Display DataFrames indexed by titles
for title, df in data_frames.items():
    print(f"Title: {title}")
    print(df)
    print("\n")

combined_df_latam_credit

Title: JOAO PEGO - final 0853 (titular)
         data           lançamento      valor origem
0  24/03/2024  Airbnb * Hm3cwbzx3t    2416.78  latam


Title: JOAO PEGO - final 0937 (adicional)
         data              lançamento     valor origem
0  22/03/2024       Sup Maxi Tubalina    864.06  latam
1  26/03/2024  Aparecida Ch-ct Ates L     74.55  latam
2  26/03/2024       Sup Maxi Tub-ct A     65.91  latam
3  28/03/2024   Center Chave-ct Gital     20.00  latam
4  28/03/2024  Berlinf*ac C-ct R Shop    213.55  latam
5  28/03/2024        Carrefour Ubl 21    287.32  latam
6  28/03/2024         Cafeeiro Lan-ct     63.00  latam


Title: encargos e serviços
Empty DataFrame
Columns: [não existem encargos e serviços nesta fatura, , , , origem]
Index: []

         data              lançamento      valor origem
0  24/03/2024     Airbnb * Hm3cwbzx3t    2416.78  latam
1  22/03/2024       Sup Maxi Tubalina     864.06  latam
2  26/03/2024  Aparecida Ch-ct Ates L      74.55  latam
3  26/03/2024       Sup Maxi Tub-ct A      65.91  latam
4  28/03/2024   Center Chave-ct Gital      20.00  latam
5  28/03/2024  Berlinf*ac C-ct R Shop     213.55  latam
6  28/03/2024        Carrefour Ubl 21     287.32  latam
7  28/03/2024         Cafeeiro Lan-ct      63.00  latam

In [89]:
# Usage
file_path = 'data/creditcards/pao-2024-04.xls'
data_frames = read_excel_file_pao_credit(file_path)
combined_df_pao_credit = combine_data_frames(data_frames)

# Display DataFrames indexed by titles
for title, df in data_frames.items():
    print(f"Title: {title}")
    print(df)
    print("\n")

combined_df_pao_credit

Title: JOAO MARCUS TEIXEIRA PEGO - final 2182 (titular)
         data      lançamento    valor origem
0  20/03/2024  Apple.com/bill     11.9    pao


Title: JOAO MARCUS TEIXEIRA PEGO - final 9434 (adicional)
         data               lançamento     valor origem
0  31/01/2024  Telhanorte - Uberl02/02    397.40    pao
1  02/02/2024       Fisia Nike Ecommer     -0.01    pao
2  02/02/2024  Fisia Nike Ecommer02/02    330.00    pao
3  21/02/2024  Anuidade Diferenci04/12     54.16    pao
4  01/03/2024    App    *lojaartcura 9   -265.70    pao


Title: encargos e serviços
         data              lançamento    valor origem
0  23/03/2024  Juros De Financiamento    63.46    pao

         data               lançamento     valor origem
0  20/03/2024           Apple.com/bill     11.90    pao
1  31/01/2024  Telhanorte - Uberl02/02    397.40    pao
2  02/02/2024       Fisia Nike Ecommer     -0.01    pao
3  02/02/2024  Fisia Nike Ecommer02/02    330.00    pao
4  21/02/2024  Anuidade Diferenci04/12     54.16    pao
5  01/03/2024    App    *lojaartcura 9   -265.70    pao
6  23/03/2024   Juros De Financiamento     63.46    pao

In [90]:
# Usage
file_path = 'data/creditcards/uniclass-2024-04.xls'
data_frames = read_excel_file_uniclass_credit(file_path)
combined_df_uniclass_credit = combine_data_frames(data_frames)

# Display DataFrames indexed by titles
for title, df in data_frames.items():
    print(f"Title: {title}")
    print(df)
    print("\n")

combined_df_uniclass_credit

Title: JOAO MARCUS TEIXEIRA PEGO - final 9731 (titular)
          data               lançamento     valor    origem
0   03/03/2024  Ifd*yunes Comercio De A    246.59  uniclass
1   03/03/2024  Ifd*yunes Comercio De A    -18.80  uniclass
2   04/03/2024          Bio Tech Und-ct    149.99  uniclass
3   05/03/2024  Ifd*uai Ceva Distribuid    110.44  uniclass
4   05/03/2024     Ifood  *ifd*drogaria    125.86  uniclass
5   08/03/2024     Uber   *uber   *trip     14.92  uniclass
6   08/03/2024  Ifd*hp Com De Alimentos    213.45  uniclass
7   09/03/2024  Ifd*hela Comercio De Al    142.80  uniclass
8   13/03/2024     Uber   *uber   *trip      9.90  uniclass
9   13/03/2024     Uber   *uber   *trip      9.91  uniclass
10  15/03/2024     Uber   *uber   *trip     16.00  uniclass
11  15/03/2024     Uber   *uber   *trip     16.86  uniclass
12  16/03/2024             Ifd*dtl Ltda     73.49  uniclass
13  17/03/2024  Ifd*talhareto Cozinha I     79.89  uniclass
14  19/03/2024     Uber   *uber   *trip     15.91  uniclass
15  19/03/2024     Uber   *uber   *trip     15.23  uniclass
16  21/03/2024  Ifd*william Gutemberg D     75.99  uniclass
17  22/03/2024     Uber   *uber   *trip      9.99  uniclass
18  22/03/2024     Uber   *uber   *trip     12.58  uniclass
19  22/03/2024     Uber   *uber   *trip     11.76  uniclass
20  24/03/2024  Ifd*arcos Dourados Come    107.29  uniclass
21  26/03/2024     Uber   *uber   *trip      7.94  uniclass
22  28/03/2024     Uber   *uber   *trip      9.98  uniclass
23  28/03/2024  Ifd*adriana Goncalves D     38.97  uniclass
24  31/03/2024  Ifd*talhareto Cozinha I    202.69  uniclass
25  31/03/2024  Ifd*am/pm Comestiveis L     68.14  uniclass
26  01/04/2024     Uber   *uber   *trip     11.91  uniclass
27  01/04/2024     Uber   *uber   *trip     13.21  uniclass


Title: encargos e serviços
Empty DataFrame
Columns: [não existem encargos e serviços nesta fatura, , , , origem]
Index: []

          data               lançamento     valor    origem
0   03/03/2024  Ifd*yunes Comercio De A    246.59  uniclass
1   03/03/2024  Ifd*yunes Comercio De A    -18.80  uniclass
2   04/03/2024          Bio Tech Und-ct    149.99  uniclass
3   05/03/2024  Ifd*uai Ceva Distribuid    110.44  uniclass
4   05/03/2024     Ifood  *ifd*drogaria    125.86  uniclass
5   08/03/2024     Uber   *uber   *trip     14.92  uniclass
6   08/03/2024  Ifd*hp Com De Alimentos    213.45  uniclass
7   09/03/2024  Ifd*hela Comercio De Al    142.80  uniclass
8   13/03/2024     Uber   *uber   *trip      9.90  uniclass
9   13/03/2024     Uber   *uber   *trip      9.91  uniclass
10  15/03/2024     Uber   *uber   *trip     16.00  uniclass
11  15/03/2024     Uber   *uber   *trip     16.86  uniclass
12  16/03/2024             Ifd*dtl Ltda     73.49  uniclass
13  17/03/2024  Ifd*talhareto Cozinha I     79.89  uniclass
14  19/03/2024     Uber   *uber   *trip     15.91  uniclass
15  19/03/2024     Uber   *uber   *trip     15.23  uniclass
16  21/03/2024  Ifd*william Gutemberg D     75.99  uniclass
17  22/03/2024     Uber   *uber   *trip      9.99  uniclass
18  22/03/2024     Uber   *uber   *trip     12.58  uniclass
19  22/03/2024     Uber   *uber   *trip     11.76  uniclass
20  24/03/2024  Ifd*arcos Dourados Come    107.29  uniclass
21  26/03/2024     Uber   *uber   *trip      7.94  uniclass
22  28/03/2024     Uber   *uber   *trip      9.98  uniclass
23  28/03/2024  Ifd*adriana Goncalves D     38.97  uniclass
24  31/03/2024  Ifd*talhareto Cozinha I    202.69  uniclass
25  31/03/2024  Ifd*am/pm Comestiveis L     68.14  uniclass
26  01/04/2024     Uber   *uber   *trip     11.91  uniclass
27  01/04/2024     Uber   *uber   *trip     13.21  uniclass

In [91]:
# Usage
file_path = 'data/creditcards/nubank-2024-04.csv'
data_frame_nubank_credit = read_excel_file_nubank_credit(file_path)
data_frame_nubank_credit

          data                           lançamento    valor  origem
0   2024-03-29                           Conta Vivo   493.86  nubank
1   2024-03-27                               Bretas    19.92  nubank
2   2024-03-26                D Ville Supermercados    73.66  nubank
3   2024-03-25                Mercadolivre*Paulocez    91.64  nubank
4   2024-03-25                 Rewards - Assinatura    19.00  nubank
5   2024-03-24                 Orelo *Orelobr*Doaca    13.00  nubank
6   2024-03-23                          Ebn*Spotify    27.90  nubank
7   2024-03-23                      Ppro *Microsoft    45.00  nubank
8   2024-03-23                      Mp *Hbomaxassin    24.43  nubank
9   2024-03-22               Ifd*Esquina do Espetin   118.99  nubank
10  2024-03-22                  Pag*Distribuidorado    18.00  nubank
11  2024-03-21                          Netflix.Com    55.90  nubank
12  2024-03-21                   Amazon Marketplace   139.90  nubank
13  2024-03-21                       Produtos Globo    59.90  nubank
14  2024-03-20                     Google Microsoft     9.00  nubank
15  2024-03-20                               Bretas    43.60  nubank
16  2024-03-19               Ifd*Arcos Dourados Com    67.69  nubank
17  2024-03-19  Estorno de "Ifd*Bauhaus Burguer Ei"   -48.00  nubank
18  2024-03-19               Ifd*Bauhaus Burguer Ei   151.79  nubank
19  2024-03-18               Ifd*Ricardo Araujo Cos    55.99  nubank
20  2024-03-17               Ifd*Gr Alves Costa Pan    88.70  nubank
21  2024-03-17                            Ebn*Adobe    95.00  nubank
22  2024-03-16                  Pag*Distribuidorado    18.00  nubank
23  2024-03-16                       Google Storage   119.90  nubank
24  2024-03-13                               Openai    51.81  nubank
25  2024-03-13                     Bazar *Horizonte   416.19  nubank
26  2024-03-13                  Mercadolivre*Beco14    57.91  nubank
27  2024-03-13                    Mp *Mercadopagoin    13.93  nubank
28  2024-03-13                Mp *Nvainternetcomerc   164.40  nubank
29  2024-03-13                      IOF de "Openai"     2.27  nubank
30  2024-03-13                         Dl *Sheincom   104.60  nubank
31  2024-03-11                      Ifd*Burger Club    76.80  nubank
32  2024-03-11                       Google Storage     7.99  nubank
33  2024-03-10                       Doces Barbaros   359.00  nubank
34  2024-03-10               Ifd*Diego Cosmo de Oli    76.00  nubank
35  2024-03-10                Google Youtube Member    39.99  nubank
36  2024-03-10                    Sup Maxi Tubalina   593.55  nubank
37  2024-03-08                         Mp *Melimais    17.99  nubank
38  2024-03-07               Microsoft*Subscription    49.99  nubank
39  2024-03-07                Mercadolivre*Capellib   101.32  nubank
40  2024-03-07                            Ifd*Ifood    13.90  nubank
41  2024-03-07                Mercadolivre*4produto   333.11  nubank
42  2024-03-07               Ifd*51.931.299 Carolin    62.58  nubank
43  2024-03-05         Estorno de juros de rotativo   -19.55  nubank
45  2024-03-02                          Lojas G 3/3   416.16  nubank
46  2024-03-02                  Pag*Aafiltrolar 3/3   383.33  nubank
47  2024-03-02            Magalu *Magazineluiza 3/6   288.49  nubank
48  2024-03-02              Localiza Rac Acudi0 2/3  1354.76  nubank
49  2024-03-02                          Lojas G 3/3   398.12  nubank
50  2024-03-02                        Magalu Fl 3/6   356.20  nubank

In [92]:
# Combine the dataframes
combined_df_credit = pd.concat([combined_df_azul_credit, combined_df_pao_credit, combined_df_latam_credit, combined_df_uniclass_credit, data_frame_nubank_credit], ignore_index=True)
combined_df_credit.drop(columns=[''], inplace=True)
combined_df_credit

           data                           lançamento    valor    origem
0    20/03/2024                        Pag*novelaria    88.49      azul
1    20/03/2024                        Amazonprimebr    14.90      azul
2    20/03/2024                             Zelo Net   978.60      azul
3    20/03/2024               Bazar       *horizonte    42.60      azul
4    21/03/2024                         Pag*blacktag   414.00      azul
5    21/03/2024               Shpp Brasil Servicos D   182.28      azul
6    23/03/2024               Ifd*helenne Bistro Com   133.10      azul
7    24/03/2024                Azul We*bpp9220040272   378.00      azul
8    24/03/2024               Azul Linhas Aereas Bra   333.00      azul
9    28/02/2024              Anuidade Diferenci02/12    59.00      azul
10   13/03/2024                    Sup Maxi Tubalina   482.86      azul
11   16/03/2024                      Lojas G     -ct    63.97      azul
12   16/03/2024                      Sushiloko   -ct   121.00      azul
13   17/03/2024               Sesi Uberlan-ct Virgil    40.00      azul
14   18/03/2024                D Ville Supe-ct Cados    43.11      azul
15   18/03/2024                D Ville Supe-ct Cados    87.87      azul
16   28/03/2024                   Exata Vet Fa-ct Ia   127.00      azul
17   28/03/2024                     Carrefour Ubl 21   500.00      azul
18   29/03/2024              Estorno De Anuidade Dif   -58.70      azul
19   01/03/2024                       Credito De Iof    -0.30      azul
20   29/03/2024               Juros De Financiamento   147.74      azul
21   29/03/2024                     Multa Por Atraso    82.22      azul
22   29/03/2024                        Juros De Mora     9.59      azul
23   29/03/2024                   Encargos De Atraso    28.93      azul
24   20/03/2024                       Apple.com/bill    11.90       pao
25   31/01/2024              Telhanorte - Uberl02/02   397.40       pao
26   02/02/2024                   Fisia Nike Ecommer    -0.01       pao
27   02/02/2024              Fisia Nike Ecommer02/02   330.00       pao
28   21/02/2024              Anuidade Diferenci04/12    54.16       pao
29   01/03/2024                App    *lojaartcura 9  -265.70       pao
30   23/03/2024               Juros De Financiamento    63.46       pao
31   24/03/2024                  Airbnb * Hm3cwbzx3t  2416.78     latam
32   22/03/2024                    Sup Maxi Tubalina   864.06     latam
33   26/03/2024               Aparecida Ch-ct Ates L    74.55     latam
34   26/03/2024                    Sup Maxi Tub-ct A    65.91     latam
35   28/03/2024                Center Chave-ct Gital    20.00     latam
36   28/03/2024               Berlinf*ac C-ct R Shop   213.55     latam
37   28/03/2024                     Carrefour Ubl 21   287.32     latam
38   28/03/2024                      Cafeeiro Lan-ct    63.00     latam
39   03/03/2024              Ifd*yunes Comercio De A   246.59  uniclass
40   03/03/2024              Ifd*yunes Comercio De A   -18.80  uniclass
41   04/03/2024                      Bio Tech Und-ct   149.99  uniclass
42   05/03/2024              Ifd*uai Ceva Distribuid   110.44  uniclass
43   05/03/2024                 Ifood  *ifd*drogaria   125.86  uniclass
44   08/03/2024                 Uber   *uber   *trip    14.92  uniclass
45   08/03/2024              Ifd*hp Com De Alimentos   213.45  uniclass
46   09/03/2024              Ifd*hela Comercio De Al   142.80  uniclass
47   13/03/2024                 Uber   *uber   *trip     9.90  uniclass
48   13/03/2024                 Uber   *uber   *trip     9.91  uniclass
49   15/03/2024                 Uber   *uber   *trip    16.00  uniclass
50   15/03/2024                 Uber   *uber   *trip    16.86  uniclass
51   16/03/2024                         Ifd*dtl Ltda    73.49  uniclass
52   17/03/2024              Ifd*talhareto Cozinha I    79.89  uniclass
53   19/03/2024                 Uber   *uber   *trip    15.91  uniclass
54   19/03/2024                 Uber   *uber   *trip    15.23  uniclass
55   21/03/2024              Ifd*william Gutemberg D    75.99  uniclass
56   22/03/2024                 Uber   *uber   *trip     9.99  uniclass
57   22/03/2024                 Uber   *uber   *trip    12.58  uniclass
58   22/03/2024                 Uber   *uber   *trip    11.76  uniclass
59   24/03/2024              Ifd*arcos Dourados Come   107.29  uniclass
60   26/03/2024                 Uber   *uber   *trip     7.94  uniclass
61   28/03/2024                 Uber   *uber   *trip     9.98  uniclass
62   28/03/2024              Ifd*adriana Goncalves D    38.97  uniclass
63   31/03/2024              Ifd*talhareto Cozinha I   202.69  uniclass
64   31/03/2024              Ifd*am/pm Comestiveis L    68.14  uniclass
65   01/04/2024                 Uber   *uber   *trip    11.91  uniclass
66   01/04/2024                 Uber   *uber   *trip    13.21  uniclass
67   2024-03-29                           Conta Vivo   493.86    nubank
68   2024-03-27                               Bretas    19.92    nubank
69   2024-03-26                D Ville Supermercados    73.66    nubank
70   2024-03-25                Mercadolivre*Paulocez    91.64    nubank
71   2024-03-25                 Rewards - Assinatura    19.00    nubank
72   2024-03-24                 Orelo *Orelobr*Doaca    13.00    nubank
73   2024-03-23                          Ebn*Spotify    27.90    nubank
74   2024-03-23                      Ppro *Microsoft    45.00    nubank
75   2024-03-23                      Mp *Hbomaxassin    24.43    nubank
76   2024-03-22               Ifd*Esquina do Espetin   118.99    nubank
77   2024-03-22                  Pag*Distribuidorado    18.00    nubank
78   2024-03-21                          Netflix.Com    55.90    nubank
79   2024-03-21                   Amazon Marketplace   139.90    nubank
80   2024-03-21                       Produtos Globo    59.90    nubank
81   2024-03-20                     Google Microsoft     9.00    nubank
82   2024-03-20                               Bretas    43.60    nubank
83   2024-03-19               Ifd*Arcos Dourados Com    67.69    nubank
84   2024-03-19  Estorno de "Ifd*Bauhaus Burguer Ei"   -48.00    nubank
85   2024-03-19               Ifd*Bauhaus Burguer Ei   151.79    nubank
86   2024-03-18               Ifd*Ricardo Araujo Cos    55.99    nubank
87   2024-03-17               Ifd*Gr Alves Costa Pan    88.70    nubank
88   2024-03-17                            Ebn*Adobe    95.00    nubank
89   2024-03-16                  Pag*Distribuidorado    18.00    nubank
90   2024-03-16                       Google Storage   119.90    nubank
91   2024-03-13                               Openai    51.81    nubank
92   2024-03-13                     Bazar *Horizonte   416.19    nubank
93   2024-03-13                  Mercadolivre*Beco14    57.91    nubank
94   2024-03-13                    Mp *Mercadopagoin    13.93    nubank
95   2024-03-13                Mp *Nvainternetcomerc   164.40    nubank
96   2024-03-13                      IOF de "Openai"     2.27    nubank
97   2024-03-13                         Dl *Sheincom   104.60    nubank
98   2024-03-11                      Ifd*Burger Club    76.80    nubank
99   2024-03-11                       Google Storage     7.99    nubank
100  2024-03-10                       Doces Barbaros   359.00    nubank
101  2024-03-10               Ifd*Diego Cosmo de Oli    76.00    nubank
102  2024-03-10                Google Youtube Member    39.99    nubank
103  2024-03-10                    Sup Maxi Tubalina   593.55    nubank
104  2024-03-08                         Mp *Melimais    17.99    nubank
105  2024-03-07               Microsoft*Subscription    49.99    nubank
106  2024-03-07                Mercadolivre*Capellib   101.32    nubank
107  2024-03-07                            Ifd*Ifood    13.90    nubank
108  2024-03-07                Mercadolivre*4produto   333.11    nubank
109  2024-03-07               Ifd*51.931.299 Carolin    62.58    nubank
110  2024-03-05         Estorno de juros de rotativo   -19.55    nubank
111  2024-03-02                          Lojas G 3/3   416.16    nubank
112  2024-03-02                  Pag*Aafiltrolar 3/3   383.33    nubank
113  2024-03-02            Magalu *Magazineluiza 3/6   288.49    nubank
114  2024-03-02              Localiza Rac Acudi0 2/3  1354.76    nubank
115  2024-03-02                          Lojas G 3/3   398.12    nubank
116  2024-03-02                        Magalu Fl 3/6   356.20    nubank

In [1]:
from langchain_openai import ChatOpenAI
from langchain.llms.ollama import Ollama
from langchain.agents.agent_types import AgentType
from langchain_experimental.agents.agent_toolkits import create_pandas_dataframe_agent
from langchain.prompts import PromptTemplate
import pandas as pd
from dotenv import main
import os
import json

main.load_dotenv()
openai_api_key = os.getenv('OPENAI_API_KEY')

chat_model = ChatOpenAI(temperature=0, model="gpt-3.5-turbo-0613")
llm = Ollama(
    model="mistral:7b",
    verbose=False,
    temperature=0,

)

Loading bank data

In [2]:
BANK_DATA_PATH = "data/csv/October2023_3633.csv"

df = pd.read_csv(BANK_DATA_PATH)
df.fillna(0, inplace=True)

df["Posted Date"] = pd.to_datetime(df["Posted Date"])
df.head()

,Posted Date,Reference Number,Payee,Address,Amount
0,2023-10-16,28806005720001400758945,Online payment from CHK 5219,0,145.75
1,2023-10-16,24055233288400340050802,SNACK SODA VENDING CHICAGO IL,CHICAGO IL,-1.35
2,2023-10-16,24013393287001575757741,SOUTH LOOP MARKET-CERMAK CHICAGO IL,CHICAGO IL,-41.49
3,2023-10-16,24247603287500836202405,PIZANOS PIZZA AND PASTA CHICAGO IL,CHICAGO IL,-79.00
4,2023-10-14,24523923286900019573549,TOUS LES JOURS CHICAGO IL,CHICAGO IL,-27.82

Creating the Categorization parameters

In [3]:
categories = [
    "Payment",
    "Transportation",
    "Food",
    "Shopping",
    "Service",
    "Subscription",
    "Farmacy",
    "Entertainment",
    "Pets",
    "Other"
]

transactions = df["Payee"].to_json()

In [4]:
category_template = """
You will be given a list of transactions from your bank account.
Please categorize the following transactions using the rules below:
1. Use ONLY the following categories: 
{categories}
2. If you are not sure, use the categorie "Other".


---
The transactions are:
{transactions}
---
you must answer using JSON format, with the following format:

{{
    "transaction_id": "category"
}}

PLEASE ANSWER USING ONLY THE JSON FORMAT ABOVE.
"""

category_prompt_template = PromptTemplate.from_template(category_template)
prompt = category_prompt_template.format(transactions=transactions, categories=categories)

In [5]:
response = chat_model.invoke(prompt)
data_categories = json.loads(response.content)
# response = llm(prompt)
# data_categories = json.loads(response)
df_categorized = df.join(pd.Series(data_categories,name="category").reset_index(drop=True))
df_categorized.head()

,Posted Date,Reference Number,Payee,Address,Amount,category
0,2023-10-16,28806005720001400758945,Online payment from CHK 5219,0,145.75,Payment
1,2023-10-16,24055233288400340050802,SNACK SODA VENDING CHICAGO IL,CHICAGO IL,-1.35,Food
2,2023-10-16,24013393287001575757741,SOUTH LOOP MARKET-CERMAK CHICAGO IL,CHICAGO IL,-41.49,Food
3,2023-10-16,24247603287500836202405,PIZANOS PIZZA AND PASTA CHICAGO IL,CHICAGO IL,-79.00,Food
4,2023-10-14,24523923286900019573549,TOUS LES JOURS CHICAGO IL,CHICAGO IL,-27.82,Food

In [6]:
df_categorized.drop(df_categorized.query("Amount > 0").index, inplace=True)
df_categorized['Amount'] = df_categorized['Amount'].abs()
df_categorized.head()

,Posted Date,Reference Number,Payee,Address,Amount,category
1,2023-10-16,24055233288400340050802,SNACK SODA VENDING CHICAGO IL,CHICAGO IL,1.35,Food
2,2023-10-16,24013393287001575757741,SOUTH LOOP MARKET-CERMAK CHICAGO IL,CHICAGO IL,41.49,Food
3,2023-10-16,24247603287500836202405,PIZANOS PIZZA AND PASTA CHICAGO IL,CHICAGO IL,79.00,Food
4,2023-10-14,24523923286900019573549,TOUS LES JOURS CHICAGO IL,CHICAGO IL,27.82,Food
5,2023-10-10,24055233283400345058524,SNACK SODA VENDING CHICAGO IL,CHICAGO IL,2.10,Food

In [7]:
agent = create_pandas_dataframe_agent(
#     llm=Ollama(
#     model="llama2",
#     verbose=False,
#     temperature=0,

# ),
    llm=chat_model,
    df=df_categorized,
    verbose=True,
    agent_type=AgentType.OPENAI_FUNCTIONS,
    agent_executor_kwargs={"handle_parsing_errors":True}
)

# Generating meaningful insights

Creating Pydantic data models to handle model output format

In [8]:
from typing import List,Union
from langchain.output_parsers import PydanticOutputParser, OutputFixingParser
from langchain.pydantic_v1 import BaseModel, Field, validator

In [9]:
CHART_TYPES = ['bar', 'line', 'pie', 'scatter', 'area', 'doughnut','table']

class Chart(BaseModel):
    title: str = Field(description="The title of the chart")
    type: str = Field(description="The type of the chart. should be one of the 'CHART_TYPES'")
    labels: List[str] = Field(description="The labels of the chart")
    datasets: List[List[float]] = Field(description="The datasets of the chart. Should be one list of floats for each label in the labels list")

    @validator('type')
    def type_must_be_valid(cls, v):
        if v is None:
            return v
        if v not in CHART_TYPES:
            raise ValueError(f"type must be one of the following: {CHART_TYPES}")
        return v
    

class InsightResponse(BaseModel):
    answer: str = Field(description="The answer to the question")
    chart: Union[Chart,None] = Field(description="The chart of the answer")

class SqlChart(BaseModel):
    type: str = Field(description="The type of the chart. should be one of the 'CHART_TYPES'")
    title: str = Field(description="The title of the chart")
    labels: List[str] = Field(description="The labels of the chart")

    @validator('type')
    def type_must_be_valid(cls, v):
        if v is None:
            return v
        if v not in CHART_TYPES:
            raise ValueError(f"type must be one of the following: {CHART_TYPES}")
        return v

In [10]:
pydantic_output_parser = PydanticOutputParser(pydantic_object=InsightResponse)

format_instructions = pydantic_output_parser.get_format_instructions()

new_parser = OutputFixingParser.from_llm(parser=pydantic_output_parser,llm=chat_model)

In [11]:
insight_template = """
Answer the following query:
{query}
Your answer should follow the following rules:
1. the answer to the query should be a text and a chart or a table.
2. You should decide if the answer should be a chart or a table.
3. The chart can be one of the following types: {chart_types}.
4. If you can't build a chart of the types of item 3, leave chart as "None".
5. Use ONLY the format instructions below to format your answer.

{format_instructions}
"""

query = "What category did I spend the most money on?"

insight_prompt_template = PromptTemplate.from_template(insight_template)
prompt = insight_prompt_template.format(query=query, chart_types=CHART_TYPES, format_instructions=format_instructions)

insight_response = agent.run(prompt)
try:
    insight = pydantic_output_parser.parse(insight_response)
except ValueError:
    print("Output parsing failed. Trying to fix the output...")
    insight = new_parser.parse(insight_response)
insight

> Entering new AgentExecutor chain...
Could not parse tool input: {'arguments': 'import pandas as pd\n\n# Calculate the total amount spent for each category\ncategory_spending = df.groupby(\'category\')[\'Amount\'].sum().reset_index()\n\n# Find the category with the highest spending\nmax_spending_category = category_spending.loc[category_spending[\'Amount\'].idxmax(), \'category\']\n\n# Create the answer string\nanswer = f"The category with the highest spending is {max_spending_category}."\n\n# Create the chart\nchart = {\n    "title": "Spending by Category",\n    "type": "bar",\n    "labels": category_spending[\'category\'].tolist(),\n    "datasets": [category_spending[\'Amount\'].tolist()]\n}\n\n# Format the output\noutput = {\n    "answer": answer,\n    "chart": chart\n}\n\noutput', 'name': 'python'} because the `arguments` is not valid JSON.Invalid or incomplete response
Invoking: `python_repl_ast` with `{'query': 'import pandas as pd\n\n# Calculate the total amount spent for each category\ncategory_spending = df.groupby(\'category\')[\'Amount\'].sum().reset_index()\n\n# Find the category with the highest spending\nmax_spending_category = category_spending.loc[category_spending[\'Amount\'].idxmax(), \'category\']\n\n# Create the answer string\nanswer = f"The category with the highest spending is {max_spending_category}."\n\n# Create the chart\nchart = {\n    "title": "Spending by Category",\n    "type": "bar",\n    "labels": category_spending[\'category\'].tolist(),\n    "datasets": [category_spending[\'Amount\'].tolist()]\n}\n\n# Format the output\noutput = {\n    "answer": answer,\n    "chart": chart\n}\n\noutput'}`


{'answer': 'The category with the highest spending is Food.', 'chart': {'title': 'Spending by Category', 'type': 'bar', 'labels': ['Entertainment', 'Farmacy', 'Food', 'Other', 'Payment', 'Shopping', 'Transportation'], 'datasets': [[94.39, 116.08, 1198.69, 1003.16, 66.71, 156.59, 86.50999999999999]]}}{
  "answer": "The category with the highest spending is Food.",
  "chart": {
    "title": "Spending by Category",
    "type": "bar",
    "labels": ["Entertainment", "Farmacy", "Food", "Other", "Payment", "Shopping", "Transportation"],
    "datasets": [[94.39, 116.08, 1198.69, 1003.16, 66.71, 156.59, 86.51]]
  }
}
{
  "answer": "The category with the highest spending is Food.",
  "chart": {
    "title": "Spending by Category",
    "type": "bar",
    "labels": ["Entertainment", "Farmacy", "Food", "Other", "Payment", "Shopping", "Transportation"],
    "datasets": [[94.39, 116.08, 1198.69, 1003.16, 66.71, 156.59, 86.51]]
  }
}

> Finished chain.
Output parsing failed. Trying to fix the output...

InsightResponse(answer='The category with the highest spending is Food.', chart=Chart(title='Spending by Category', type='bar', labels=['Entertainment', 'Farmacy', 'Food', 'Other', 'Payment', 'Shopping', 'Transportation'], datasets=[[94.39, 116.08, 1198.69, 1003.16, 66.71, 156.59, 86.51]]))

In [ ]:
import plotly.graph_objects as go

if insight.chart is None:
    print(insight.answer)
else:
    chart_data = insight.chart

    fig = go.Figure(data=[
        go.Bar(x=chart_data.labels, y=dataset, name=label)
        for label, dataset in zip(chart_data.labels, chart_data.datasets)
    ])

    fig.update_layout(
        title=chart_data.title,
        template="plotly_dark"
    )

    print(insight.answer)
    fig.show()

The category with the highest spending is Food.

# Using SQL Agent

In [13]:
from langchain.utilities.sql_database import SQLDatabase

DB_PATH = "data/transactions.sqlite"

db = SQLDatabase.from_uri(f"sqlite:///{DB_PATH}")

def get_schema(_):
    return db.get_table_info()

def run_query(query):
    return db.run(query.strip("`"))

In [14]:
pydantic_output_parser = PydanticOutputParser(pydantic_object=SqlChart)

format_instructions = pydantic_output_parser.get_format_instructions()

new_parser = OutputFixingParser.from_llm(parser=pydantic_output_parser,llm=llm)

In [16]:
from langchain_core.output_parsers import StrOutputParser
from langchain_core.runnables import RunnablePassthrough
from langchain.prompts import ChatPromptTemplate

sql_template = """Based on the table schema below, write a SQL query that would answer the user's question:
{schema}

Question: {question}
SQL Query:"""
sql_prompt = ChatPromptTemplate.from_template(sql_template)

natural_template = """Based on the table schema below, question, sql query, and sql response, write a natural language response:
{schema}

Question: {question}
SQL Query: {query}
SQL Response: {response}"""
prompt_response = ChatPromptTemplate.from_template(natural_template)

sql_response = (
    RunnablePassthrough.assign(schema=get_schema)
    | sql_prompt
    | llm.bind(stop=["\nSQLResult:"])
    | StrOutputParser()
)

sql_agent = (
    RunnablePassthrough.assign(query=sql_response)
    | RunnablePassthrough.assign(
        schema=get_schema,
        response=lambda x: run_query(x["query"]),
    )
    | prompt_response
    | llm
)

In [17]:
question = {"question": "What is the total amount of money spent on food in USD?"}

for chunk in sql_agent.stream(question):
    print(chunk, end="", flush=True)

Based on the provided table schema, question, SQL query, and SQL response, it appears that the total amount of money spent on food in USD is -3271.1999999999985. This indicates a negative balance, which may not be accurate or meaningful in this context. It's possible that there are errors or inconsistencies in the data provided.

In [ ]:
chart_template = """Based on the table schema below, question, sql query, and sql response, select a chart that would represent the 
response to the user's question, and indicate it using the format instructions below:

{format_instructions}

---
Here are the table schema, question, sql query, and sql response:
{schema}

Question: {question}
SQL Query: {query}
SQL Response: {response}

YOUR ANSWER SHOULD INCLUDE ONLY THE JSON FORMAT INSTRUCTIONS ABOVE."""

datasets_template = """Based on the table schema, original SQL Query, and the chart json below, write a new SQL query to obtain the data for the chart:
{schema}

Original SQL Query: {query}
Chart: {chart}

your answer should be ONLY the SQL query."""

final_template = """Based on the chart json and the datasets below, write a new chart JSON:
Chart: {chart}
Datasets: {datasets}

your answer should be ONLY the chart JSON following the format instructions below:
{format_instructions}

DO NOT include any other text rather than the chart JSON."""

prompt_chart = ChatPromptTemplate.from_template(chart_template)
dataset_prompt = ChatPromptTemplate.from_template(datasets_template)
final_prompt = ChatPromptTemplate.from_template(final_template)

def get_format_instructions_for_reference_chart(_):
    pydantic_output_parser = PydanticOutputParser(pydantic_object=SqlChart)
    return pydantic_output_parser.get_format_instructions()

def get_format_instructions_for_insight_chart(_):
    pydantic_output_parser = PydanticOutputParser(pydantic_object=InsightResponse)
    return pydantic_output_parser.get_format_instructions()

chart_agent = (
    RunnablePassthrough.assign(query=sql_response)
    | RunnablePassthrough.assign(
        schema=get_schema,
        response=lambda x: run_query(x["query"]),
        format_instructions=get_format_instructions_for_reference_chart
    )
    | prompt_chart
    | llm
)

chart_response = (
    RunnablePassthrough.assign(query=sql_response)
    | RunnablePassthrough.assign(chart=chart_agent)
    | RunnablePassthrough.assign(
        schema=get_schema,
        query=sql_response
    )
    | dataset_prompt
    | llm
    | StrOutputParser()
)

chart_generator = (
    RunnablePassthrough.assign(query=sql_response)
    | RunnablePassthrough.assign(chart=chart_agent)
    | RunnablePassthrough.assign(new_query=chart_response)
    | RunnablePassthrough.assign(
        schema=get_schema,
        datasets=lambda x: run_query(x["new_query"].replace("sql","")),
        format_instructions=get_format_instructions_for_insight_chart
    )
    | final_prompt
    | llm
    | StrOutputParser()
)

In [ ]:
question = {"question": "How much did I spent in between 1st and 30th of November per category? consider only the transactions of type 'debit'"}

agent_response = chart_generator.invoke(question)
print(agent_response)

```
{
    "type": "pie",
    "title": "Total Spent by Category",
    "labels": [
        {"category_name": "ACCOMMODATION"},
        {"category_name": "ENTERTAINMENT"},
        {"category_name": "FARMACY"},
        {"category_name": "FOOD"},
        {"category_name": "INCOME"},
        {"category_name": "OTHER"},
        {"category_name": "PETS"},
        {"category_name": "RENT"},
        {"category_name": "RESTAURANT"},
        {"category_name": "SERVICE"},
        {"category_name": "SHOPPING"},
        {"category_name": "SUBSCRIPTION"},
        {"category_name": "TRANSFER"},
        {"category_name": "TRANSPORTATION"},
        {"category_name": "UTILITIES"}
    ],
    "datasets": [
        [-791.2299999999999, "ACCOMMODATION"],
        [-6529.730000000003, "ENTERTAINMENT"],
        [-4947.27, "FARMACY"],
        [-66259.41999999982, "FOOD"],
        [-30527.130000000012, "INCOME"],
        [-78336.38999999994, "OTHER"],
        [-25232.060000000012, "PETS"],
        [-50878.54999999998, "RENT"],
        [-1649.0900000000004, "RESTAURANT"],
        [-2373.6900000000005, "SERVICE"],
        [-198772.8399999999, "SHOPPING"],
        [-6329.840000000001, "SUBSCRIPTION"],
        [-81405.67999999996, "TRANSFER"],
        [-12792.940000000011, "TRANSPORTATION"],
        [-4089.4100000000003, "UTILITIES"]
    ]
}
```